@fontcolortitle: rgb(49, 49, 49);
@fontcolorcontent: rgb(82, 82, 82);

.hr() {
    hr {
        border: 1px solid @fontcolortitle;
    }
}

.title {
    .title {
        color: @fontcolortitle;
        font-weight: 600;
        font-size: 20px;
    }
}

* {
    font-family: Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
}

.headInfo {
    display: flex;
    justify-content: space-between;
    height: 160px;
    align-items: center;

    .line1,
    .line2 {
        div {
            padding: 10px 0;
            color: @fontcolorcontent;
        }
    }

    .avatar {
        img {
            width: 110px;
            height: 150px;
        }
    }

    .ptext {
        font-weight: 600;
        color: @fontcolortitle ;
        vertical-align: bottom;
    }
}

.course {
    padding-bottom: 20px;

    .title();

    .hr();

    .school {
        height: 20px;
        line-height: 20px;
        width: 600px;
        display: flex;
        justify-content: space-between;

        span {
            color: @fontcolortitle;
            font-weight: 600;
        }
    }

    .subject {
        margin-top: 10px;
        span {
            color: @fontcolorcontent;
            &:first-child {
                color: rgb(88, 88, 88);
                font-weight: 600;
            }
        }
    }
}

.skill {
    .title();

    .hr();

    ol {
        li {
            margin-bottom: 5px;
            color: @fontcolorcontent;
        }
    }
}

.project {

    .title();
    .hr();

    .time {
        height: 20px;
        line-height: 20px;
        width: 600px;
        display: flex;
        justify-content: space-between;

        span {
            color: @fontcolortitle;
            font-weight: 600;
        }
    }

    .content {
        color: @fontcolorcontent;

        p {
            margin: 5px;

            &:first-child {
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: 500;
                color: black;
            }
        }

        ul {
            margin-top: 3px;

            li {
                margin: 5px;
            }
        }
    }
}

.practice {
    .title();

    .hr();
    .time {
        height: 20px;
        line-height: 20px;
        width: 600px;
        display: flex;
        justify-content: space-between;

        span {
            color: @fontcolortitle;
            font-weight: 600;
        }
    }
    .content {
        color: @fontcolorcontent;
        p{
            margin: 10px;
            line-height: 25px;
            span{
                color: rgb(88, 88, 88);
                font-weight: 600;
            }
        }
    }
}